Lab1_Client/src/wsdl/localhost_8080/Lab1_Bank/BankImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://lab1_bank.polpetta.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lab1_bank.polpetta.it/">

<xs:element name="getOperationDetailsByID" type="tns:getOperationDetailsByID"/>

<xs:element name="getOperationDetailsByIDResponse" type="tns:getOperationDetailsByIDResponse"/>

<xs:element name="getOperationsByClientID" type="tns:getOperationsByClientID"/>

<xs:element name="getOperationsByClientIDResponse" type="tns:getOperationsByClientIDResponse"/>

<xs:complexType name="getOperationsByClientID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationsByClientIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationDetailsByID">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationDetailsByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>